body {
  align-items: center;
    text-align: center;
    padding: 1rem;
  }

.imagess {
  opacity: 0;
  width: 256px;
}

ol,
ul {
  list-style: none;
}

.smoke {
  font-size: 50px;
  visibility: hidden;
}